@charset "utf8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #fcb0f3, #3d05dd);
}

main {
    /* cor de fudo */
    background-color: #ffff;

    /* largura/tamanho" */
    width: 700px;

    /* preenchimento */
    padding: 18px;

    /* o pasisionamento centro direita esquerda */
    margin: auto;

    /* arendondamento dos cantos */
    border-radius: 5px;

    /* sombra lado > baixo > espalhamento > cor */
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.531);
}

h1 {
    font-size: 40px;
    text-align: center;
}

p {
    text-align: justify;
}
