@charset "utf8";

body {
    font-family: Arial, Helvetica, sans-serif;
    size: 20px;
}

h1 {
    color: blue;
}

p {
    color: aqua;
}
/*
    IDs não podem ser complementados com outro id na mesma linha com CLASS podemos
*/
/* usando ID */
#t1 {
    color: #000;
}

#p1 {
    text-align: justify;
    color: #000;
}

/* usando CLASS */
.ti {
    color: #09aa77;
}

.par {
    text-align: justify;
    color: #09aa77;
}
