@charset "utf8";

body {
    background-image: linear-gradient(to right, #fcb0f3, #3d05dd);
    /*45deg seria graus de rotação / to left right top borro*/
}

h1,
p {
    color: white;
    text-align: center;
}

/*
    * {
        height: 100%; configurações globais da css
    }
*/