@charset "utf8";

/*
* {
    configurações globais da css
    height: 100%; 
}
*/

body {
    /* 45deg seria graus de rotação */
    background-image: linear-gradient(to right, #fcb0f3, #3d05dd);
}

h1,
p {
    color: white;
    text-align: center;
}
